# Todo Plots:



# Done plots:
Number of songs per year

In [1]:
import pandas as pd
import plotly.express as px
import spacy, tqdm
from nltk.corpus import stopwords
import re
from collections import Counter
from tqdm.notebook import tqdm

In [2]:
# Read the data
FILEPATH = "data/data_clean_en_5.csv"
data = pd.read_csv(FILEPATH)
data.shape

(128997, 19)

In [3]:
#create a deep copy of the dataframe so we dont mess up the original
df = data.copy()
df.columns

Index(['title', 'tag', 'artist', 'year', 'views', 'features', 'lyrics', 'id',
       'language', 'yearx', 'lyrics_clean', 'lyrics_clean_with_newline',
       'pos_tags', 'noun', 'verb', 'adverb', 'pnoun', 'adjective', 'rest'],
      dtype='object')

In [4]:
df.head(1)

,title,tag,artist,year,views,features,lyrics,id,language,yearx,lyrics_clean,lyrics_clean_with_newline,pos_tags,noun,verb,adverb,pnoun,adjective,rest
0,Killa Cam,rap,Cam'ron,2004,173166,"{""Cam\\'ron"",""Opera Steve""}","[Chorus: Opera Steve & Cam'ron]\nKilla Cam, Ki...",1,en,2004,"Killa Cam, Killa Cam, Cam Killa Cam, Killa Ca...","Killa Cam, Killa Cam, Cam \n Killa Cam, Killa ...",Killa_$_PROPN Cam_$_PROPN Killa_$_PROPN Cam_$_...,shit world shit goons tune bitches hooligan la...,loaded bat bout hit make clap spar stay want w...,Still Now neuter unhappy ChromeI Just usually Now,Killa Cam Killa Cam Cam Killa Cam Killa Cam Ki...,second realest new panpan Canary dead scrappy ...,I I We With I What up She like Damn since My m...

In [5]:
# get the most common words in each columns : noun , verb , adverb , pnoun , adjective
# use counter 
nouns_collection = Counter()
verbs_collection = Counter()
adverbs_collection = Counter()
pnouns_collection = Counter()
adjectives_collection = Counter()

# Iterate through each row in the DataFrame
for index, row in tqdm(df.iterrows(), total=len(df)):
    # Split words in each column and update respective Counter
    if not pd.isna(row['noun']):
        nouns_collection.update(row['noun'].split())
    if not pd.isna(row['verb']):
        verbs_collection.update(row['verb'].split())
    if not pd.isna(row['adverb']):
        adverbs_collection.update(row['adverb'].split())
    if not pd.isna(row['pnoun']):
        pnouns_collection.update(row['pnoun'].split())
    if not pd.isna(row['adjective']):
        adjectives_collection.update(row['adjective'].split())

  0%|          | 0/128997 [00:00<?, ?it/s]

In [6]:
most_common_nouns = nouns_collection.most_common(50)
most_common_verbs = verbs_collection.most_common(50)
most_common_adverbs = adverbs_collection.most_common(50)
most_common_pnouns = pnouns_collection.most_common(50)
most_common_adjectives = adjectives_collection.most_common(50)

# get most_common_nouns as list
# most_common_pnouns_list = []
# for i in most_common_pnouns:
#     most_common_pnouns_list.append(i[0])

most_common_pnouns_list = ['nigga', 'niggas', 'God', 'Baby', 'Bitch', 'Lord', 'Niggas', 'Nigga', 'Girl', 'Man', 'Ai', 'Love', 'Jesus', 'fuckin', 'Young', 'Fuck', 'bang', 'Gucci', 'King', 'Gang', 'Glock', 'G', 'Time', 'Christmas']

In [7]:
# filter the data for yearx for 1975 to 2020
df = df[df['year'] >= 1975]
df = df[df['year'] <= 2020]

# get the mo

In [ ]:
# for each year (using column yearx), count the number of time each most coomon pnoun (most_common_pnouns_list) has appeared in column "pnoun"

def get_count_for_term_for_year(word, year, df):
    '''
    Given the dataframe, use the column yearx to filter the year and get the count for how many times did the word appear
    @args:
        word : string 
        year : 
        
    '''

In [1]:
df.head()

NameError: name 'df' is not defined